.nav-item {
  position: relative;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 13px;
  padding: 5px 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  mask-image: linear-gradient(to right, #1e1e1e 70%, transparent 100%);
}

.nav-item i {
  font-size: 20px;
}

.nav-item-closed span {
  display: none;
}

.sub-nav {
  display: none;
}

.nav-item:hover {
  background-color: rgba(50, 50, 50, 0.5);
}
